<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.teamproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamProject"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31"
        tools:ignore="ExtraText">

        <activity
            android:name=".LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".NaviActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        //브라우저로 통헤 열리는 카카오로그인 화면
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="@string/kakao_oauth_host" />
            </intent-filter>
        </activity>


        <activity android:name=".CommunityitemActivity" />
        <activity android:name=".JoinmembershipActivity" />
        <activity android:name=".CommunitywriteActivity" />
        <activity android:name=".SearchActivity"/>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="25bcb8fd5bdd44eac10033331683c387"/>
    </application>

</manifest>